html{
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
}
body{
	font-family:Segoe UI;
	color:black;
	margin:0;
	background-image: url(images/grass.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
.recycleButtons{
	height: auto;
	z-index:1;
	padding: 0.5em;
	text-align: center;
}
.recycleButtons button{
	border-radius: 10px;
	color: white;
	padding: 5px;
	margin: 5px;
	background-color: black;
	font-size: large;
}
.recycleButtons button:hover{
	background-color: #4CAF50;
	transform: scale(1.1);
	transition: 200ms;

}
.recycleContent{
	margin: 1% auto;
	height: auto;
}
.metal .recycleInfo, .sticla .recycleInfo, .lemn .recycleInfo{
	width: 100%;
}
.recycleInfo{
	width: 48%;
	background-color: #b0d3bf;
	opacity: 0.8;
	margin: 1%;
	padding: 1.5%;
	height: auto;
	border-radius: 2em;
	font-size: large;
}

.recycleInfo img{
	width: 30px;
	height: auto;
}
.recycleElement{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}
.plastic_pet, .metal, .electrice, .sticla, .lemn, .textile{
	display: none;
}
@media only screen and (max-width: 850px){
	.recycleInfo{
		width: 100%;
		font-size: small;
	}
}
