html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

body {
    font-family: Segoe UI;
    margin: 0;
    text-align: center;
    background-image: url(./images/grass.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

section {
    overflow: hidden;
}

.navbar {
    position: sticky;
    top: 0em;
    width: 100%;
    z-index: 1;

}

.navbarlink {
    display: block;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.authentificationBtn {
    background-color: #4CAF50;
    color: white;
    padding: 14px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.authentificationBtn {
    width: 100%;
}

.navbutton {
    display: none;
}

.navbutton:focus {
    outline: none;
}


.menu-options {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
    overflow: hidden;
    z-index: 1;
    background-color: #00693e;
    width: 100vw;
    height: 4rem;
    margin: 0;
    padding: 0;
}

.option {
    font-size: 120%;
    font-weight: initial;
}

.option:hover {
    transform: scale(1.1);
    transition: 200ms;
    color: white;
    opacity: 1;
}


.menu-container {
    display: flex;
    align-items: center;
}

.menu-container button {
    width: 100px;
}

.reportForm {
    display: block;
    font-size: large;
}

.container input {
    width: 100%;
    background-color: white;
    opacity: 0.8;
    font-size: large;
}

.container button {
    font-size: large;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: 2rem;
    text-align: center;
    background-color: rgb(114, 114, 114);
    border-radius: 4px;
}

.usertitle {
    color: rgb(87, 190, 113);
    font-size: 1.5rem;
}

.garbage-info {
    display: flex;
    justify-content: center;
}

.garbage-info .content:hover {
    transform: scale(1.03);
    transition: 500ms ease;
    background-color: #b0d3bf;
}

.garbage-info .garbage-type {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: auto;
    padding: 1%;
}

.garbage-info .garbage-type button {
    cursor: pointer;
    background-color: black;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    color: white;
    font-size: large;
}

#maiMult {
    text-decoration: none;
    color: white;
}

.garbage-info .garbage-type button:hover {
    transform: scale(1.1);
    background-color: #2d6b22;
    opacity: initial;
    transition: 200ms;
}

.plastic,
.becuri,
.metal,
.sticla {
    display: none;
}

.garbage-info .content {
    width: 90%;
    height: auto;
    background-color: #b0d3bf;
    opacity: 0.8;
    padding: 1%;
    color: black;
    margin: 1%;
    border-radius: 15px;
}

.info-content {
    display: flex;
    justify-content: space-around;
}

.info-image {
    height: auto;
    width: 100%;
}

.info {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 2%;
    margin: 2%;
}

#Situatia, #Informatie, #Reciclare, #Evenimente {
    padding-top: 50px;
    padding-bottom: 50px;
    color: black;
}



.authors {
    background-color: #2d6b22;
    color: white;
    text-align: center;
    padding: 3px;
}

.chart {
    background-color: white;
    opacity: 0.9;
    border: none;
    border-radius: 20px;
    width: 35%;
    height: 35%;
    margin: auto;
    margin-bottom:10px;
}



.show {
    display: block;
}

.map-container {
    height: 750px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 70px;
}

.map-controller {
    height: 600px;
    width: 600px;
    border-radius: 10px;
    z-index: 0;
}

.dropdownlist {
    display: none;
}

.situation-elements {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dropdown {
    position: relative;
    display: inline-block;
}

/* small screens */

@media only screen and (max-width: 600px) {
    .menu-container {
        display: flex;
        justify-content: space-around;
        background-color: #00693e;
        height: 4rem;
        width: 100vw;
    }

    .navbutton {
        display: block;
        background-color: #00693e;
        font-size: 100%;
        color: white;
        width: 3rem;
        border: none;
        cursor: pointer;
    }

    .dropbtn {
        display: inline;
        background-color: #00693e;
    }

    .option {
        display: none;
    }

    .dropdownlist {
        width: 10rem;
        display: none;
        position: absolute;
        background-color: #00693e;
        font-family: inherit;
        color: white;
        margin: auto 0 0;
        z-index: 3;
        border: none;
    }

    .droplink {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        cursor: pointer;
        font-size: 15px;
    }

    .garbage-info .garbage-type button {
        font-size: small;
    }


}