#Evenimente {
    overflow-x: auto;
}
.title-event{
    padding: 30px;
    color: white;
    text-shadow: 0 1px;
    font-size:2vw;
}
.card-container {
    display: flex;
    padding: 15px;
    padding-top:30px;
}

.card {
    min-width: 300px;
    height: 350px;
    border-radius: 16px;
    background-color: whitesmoke;
    box-shadow: -1rem 0 3rem #000;
    display: flex;
    flex-direction: column;
    padding: 10px;
    transition: 0.2s;
}
.date {
    color: #8a8a8a;
}
.tags {
    display: flex;
    flex-wrap: wrap;
    margin: 5px auto;
}
.tags>*{
    font-size: 9px;
    font-weight: 700;
    padding: 4px 10px;
    background-color: #dad6d6;
    border-radius: 15px;
}

.card .event-date {
    font-size: 14px;
    color: #8a8a8a;
    margin-bottom: 5px;
}

.card .article-title {
    font-size: 20px;
    font-weight: 700;
}


.card .author {
    margin-top: 20px;
}

.card:not(:first-child) {
    margin-left: -130px;
}
.card:hover {
    transform: translateY(-20px);
}
.card:hover~.card{
    transform: translateX(130px);
}

/* Full-width textarea */
.form-container textarea {
    height: 60px;
    border: none;
    border-radius: 20px;
    background: #f1f1f1;
    resize: none;
    padding: 7px;
}

.comm{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}
  /* When the textarea gets focus, do something */
.form-container textarea:focus {
    background-color: #ddd;
    outline: none;
}
  
  /* Set a style for the submit/send button */
.form-container .btn {
    background-color: #4CAF50;
    color: white;
    padding: 13px 15px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin-bottom:10px;
    opacity: 0.8;
}

  /* Add some hover effects to buttons */
/* .btn:hover {
    opacity: 1;
} */

.header-chat{
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.container-comm {
    display: flex;
    flex-direction: row;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

.darker {
  border-color: #ccc;
  background-color: #ddd;
}

.container-comm::after {
  content: "";
  clear: both;
  display: table;
}

.createEvent{
    border: none;
    border-radius: 15px;
    background-color: red;
    color: white;
    width: 100%;
    padding: 5px;
}
.tag-article{
    width: 100%;
    margin: 3px;
}
.card textarea{
    margin: 3px;
}
.card-info{
    width: 60%;
    height: 60%;
    margin: auto;
    border-radius: 20px;
    background-color: whitesmoke;
    overflow: auto;
}
.closeBtn{
    border-radius: 10px;
    padding: 5px 20px ;
    margin: 5px;
    font-weight: bold;
    background-color: red;
    color: white;
    border-style: none;
}
.event-details{
    font-size: larger;
    margin: auto;
}
.see-more{
    border-radius: 10px;
    background-color: #2d6b22;
    color: white;
    border-style: none;
    padding: 5px;
}
.deleteBtn, #commentBtn{
    border-radius: 10px;
    background-color: red;
    color: white;
    border-style: none;
    margin: 5px 0px;
    padding: 5px;
    vertical-align: middle;

}
.commentInfo{
    background-color: #dbf6ee;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 10px;
    width: 90%;
    padding: 5px;
    margin:5px auto;

}
.commentAuthor{
    color: #8a8a8a;
}
.commentDate{
    color: #8a8a8a;

}
.comments textarea{
    width: 83%;
    margin: auto;
}
.tags{
    margin: auto;
}
::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: #c2c9d2;
}

.createEvent{
    border: none;
    border-radius: 15px;
    background-color: red;
    color: white;
    width: 90px;
}