* {
  box-sizing: border-box;
  text-align: center;
}
body{
  font-family:Verdana;
  color:black;
  margin:0;
}
nav{
  position: sticky;
  top:0em;
  width: 100%;
  z-index: 1;
}
section {
  padding-top: 5em;
  overflow: hidden;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: 2rem;
  text-align: center;
}
.usertitle {
  color: grey;
  font-size: 1.5rem;
}
.menu-options, .option {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: auto;
  margin: 8px;
  background-color: #63a91f;
  width:100%;
  padding: 5px;
  overflow: hidden;
  color:black;
  z-index: 1;
}
.option{
  float: left;
  transition: 200ms;
  margin:0.5% 1%;
}
.navbarlink{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  cursor: pointer;
}
.option:hover{
  transform: scale(1.1);
  transition: 200ms;

}
.menu-options{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #2d6b22;


}
.welcome-message{
  background-color:green;
  padding:5px;
  text-align:center;
}
.title{
  display: block;
}
.garbage-info {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  height: auto;
  flex-wrap: wrap;
  
}
.garbage-type{
  width: 30%;
  position: relative;
  color:green;
  background-color:white;
  opacity:0.8;
  color:black;
  padding: 1%;
  margin: 1%;  
  border-radius:10%;
}
.garbage-type:hover
{
  transform: scale(1.1);
  transition: 500ms;
  background-color:#b0d3bf;
}
#Situatia, #Problema, #Reciclare, #Profil {
  min-height:100vh;
  background-image: url(./images/grass.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color:white;
} 
.authors{
  background-color: #2d6b22;
  color:white;
  text-align:center;
  padding: 3px;
}