body{
    display: flex;
    justify-content: space-around;
    background-image: url(./images/grass.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.container{
    display: flex;
    flex-direction: column;
    width: 700px;
    height: fit-content;
    min-width: 260px;
    border: none;
    border-radius: 30px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
}
.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 220px;
}
#error-message, #error-message-register{
    color: red;
    font-weight: bold;
}